*.zip
bin/Release_VC12/EPlus
bin/Debug_VC12/EPlus
bin/vendor/openssl*/
bin/vendor/boost*/
bin/vendor/OpenStudio*/
bin/vendor/Qt*/
/bin/Release_VC142x64/CSE/CTZ08S13b.CSW
/bin/Release_VC142x64/CSE/CTZ09S13b.CSW
/bin/Release_VC142x64/CSE/CTZ10S13b.CSW
/bin/Release_VC142x64/CSE/CTZ11S13b.CSW
/bin/Release_VC142x64/CSE/CTZ12S13b.CSW
/bin/Release_VC142x64/CSE/CTZ13S13b.CSW
/bin/Release_VC142x64/CSE/CTZ14S13b.CSW
/bin/Release_VC142x64/CSE/CTZ15S13b.CSW
/bin/Release_VC142x64/CSE/CTZ16S13b.CSW
/bin/Release_VC142x64/CSE/CTZ01S13b.CSW
/bin/Release_VC142x64/CSE/CTZ02S13b.CSW
/bin/Release_VC142x64/CSE/CTZ03S13b.CSW
/bin/Release_VC142x64/CSE/CTZ04S13b.CSW
/bin/Release_VC142x64/CSE/CTZ05S13b.CSW
/bin/Release_VC142x64/CSE/CTZ06S13b.CSW
/bin/Release_VC142x64/CSE/CTZ07S13b.CSW
/bin/Debug_VC142x64/CSE/CTZ08S13b.CSW
/bin/Debug_VC142x64/CSE/CTZ09S13b.CSW
/bin/Debug_VC142x64/CSE/CTZ10S13b.CSW
/bin/Debug_VC142x64/CSE/CTZ11S13b.CSW
/bin/Debug_VC142x64/CSE/CTZ12S13b.CSW
/bin/Debug_VC142x64/CSE/CTZ13S13b.CSW
/bin/Debug_VC142x64/CSE/CTZ14S13b.CSW
/bin/Debug_VC142x64/CSE/CTZ15S13b.CSW
/bin/Debug_VC142x64/CSE/CTZ16S13b.CSW
/bin/Debug_VC142x64/CSE/CTZ01S13b.CSW
/bin/Debug_VC142x64/CSE/CTZ02S13b.CSW
/bin/Debug_VC142x64/CSE/CTZ03S13b.CSW
/bin/Debug_VC142x64/CSE/CTZ04S13b.CSW
/bin/Debug_VC142x64/CSE/CTZ05S13b.CSW
/bin/Debug_VC142x64/CSE/CTZ06S13b.CSW
/bin/Debug_VC142x64/CSE/CTZ07S13b.CSW
