// RC file to define Windows file property details
//

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#include "winver.h"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO     VERSIONINFO
  FILEVERSION       19,1,2,1132
  PRODUCTVERSION    19,1,2,1132
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
        BLOCK "040904B0"
		BEGIN 
			VALUE "CompanyName",     "California Energy Commission\0"
			VALUE "FileDescription", "OpenStudio Wrapper DLL\0"
			VALUE "FileVersion",     "2019.1.2 (1132)\0"
			VALUE "InternalName",    "OSWrap19\0"
			VALUE "LegalCopyright",  "Copyright (C) 2012-2020, California Energy Commission. All rights reserved.\0"
			VALUE "LegalTrademarks", "\0"
			VALUE "OriginalFilename","OSWrap19.dll\0"
			VALUE "ProductName",     "OS Wrapper DLL\0"
			VALUE "ProductVersion",  "2019.1.2\0"
			VALUE "SpecialBuild",    "build 1132\0"
		END
	END
	BLOCK "VarFileInfo" 
	BEGIN 
		VALUE "Translation", 0x409, 1200
    END
END

